body {
    margin: 0px; 
}
/*
zera os espaços dos elementos
*/

.exemplo {
    border: 2px solid green;
    padding: 10px;
    margin: 10px;

}

/*
padding, margin, border --> com só um valor, aplicado em todos os sentidos (sentido horário),
            com dois valores, (top, bottom) (right, left)...

*/

.exemplo1 {
    background-color: black;
    width: 100%;
    height: 100px;
}
/*
width: 100%; toda largura da página
width: auto; espande quando puder expadir
no caso da div tanto fazer colocar width porque tem como caracterisca pegar toda largura da tela

já outro elementos o "auto" vai pegar o tamanho normal da imagem por exemplo, é mesma coisa de não definir nada
*/
img {
    width: auto;
}

.link {
    color: green;
    font-size: 30px;
}

/*
Estado do link --> passar o mouse no link
*/

.link:hover {
    color: brown;
}

.link:visited {
    color: pink;
}
