.poor-story-regular {
    font-family: "Poor Story", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  body{
    margin: 50px;
    font-size: 17px;
  }

  label{
    display: block;
    margin-bottom: 10px;
  }

  input[type=text], textarea, select{
    padding: 10px;
    width: 500px;
    font-size: 15px;
    border: 1px solid #ccc;
    outline: 0;
    margin: 5px;
  }

  /*
retirar o foto do input: outline: 0;
*/

  textarea{
    height: 200px;
    resize: none;
  }

.termosLinks{
  color: #000;
  text-decoration: none;
}

.termosLinks:hover{
  text-decoration: underline;
}

button{
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  background-color: #eee;
}

button:hover{
  background-color: #ddd;
}
